.button {
  align-items: center;
  background: var(--color-primary);
  border-radius: 20px;
  color: var(--color-button-text);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: 56px;
  justify-content: center;
  line-height: 1.25;
  padding: 0 50px;
  position: relative;
  transition: 150ms;
  white-space: nowrap;
  border: none;

  &:active:not(:disabled) {
    transform: scale(.95);
  }

  &.button-sm {
    height: 50px;
  }

  &.button-secondary {
    background: var(--color-secondary);
    color: var(--color-button-text);
  }


  &.button-outline {
    background: var(--color-white);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
  }

  &.button-tertiary {
    background-color: var(--color-gray3);
    color: var(--color-gray6);
  }

  &.button-sub {
    background: var(--color-gray1);
    color: var(--color-gray7);
    font-size: 15px;
    font-weight: 400;
    height: 50px;
  }

  &.button-sub-outline {
    background: var(--color-white);
    border: 1px solid var(--color-gray3);
    color: var(--color-gray7);
    font-size: 15px;
    font-weight: 400;
    height: 50px;
  }

  &.button-full {
    width: 100%;
  }

  &.no-padding {
    padding: 0;
  }

  &:disabled {
    border: none !important;
    background-color: var(--color-gray3);
    color: var(--color-gray6);
    cursor: not-allowed;
  }
}

.leftIcon {
  left: 20px;
  position: absolute;
}
